.modal__background {
  position: fixed;
  z-index: 1000;
  background-color: #0000007d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.modal__container {
  position: fixed;
  z-index: 1500;
  background-color: white;
  width: 550px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.modal__container::-webkit-scrollbar {
  width: 0.5rem;
}

.modal__container::-webkit-scrollbar-track {
  background: transparent;
}
.modal__container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
.modal__container::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 8px;
}

.modal__close__btn {
  position: fixed;
  top: 12px;
  right: 0px;
  height: 20px;
  width: 20px;
  border: 2px solid #40cc82;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background: #40cc82;
  margin-right: 2rem;
}
.modal__close__btn:hover {
  background: #31935f;
}
.modal__content {
  width: 100%;
  height: 100%;
}

.modal__hide {
  opacity: 0;
  visibility: hidden;
}

.modal__show {
  opacity: 1;
  visibility: visible;
}
