@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
:root{
  --orange: #FF5423,
  --light-orange: #fb6f59,
  --gray: #766a6a,
}

.header {
  height: 60px;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3.2rem;

}
.logo-img {
  width: 8.2rem;

}

.signin-cart-holder {
  display: flex;


}
.signin-btn{
background-color: #FF5423;
padding: 0.6rem 1.2rem;
border-radius: 25px;
border: none;
color: #fff ;
outline: none;
font-weight: 600;
transition: all 1s ease-in-out;
  margin: auto 64px;

}
 .icons{
         text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    color: #766a6a;
    background-color: #FF5423;
    padding: 0.4rem 1.3rem;
    border-radius: 50%;
    cursor: pointer;

}
 .icons-logout{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    color: #766a6a;
    background-color: #FABC4D;
    padding: 0.4rem 1.3rem;
    border-radius: 50%;
    cursor: pointer;

}
.icons .product-num{
    position: absolute;
    top: 0rem;
    left: 3rem;
    background-color: #956464;
    color: #ffffff;
    font-size: 0.8rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    text-align: center;
}

.cart-icon {
  color: white;
  font-size: 1.2rem;
}

.bone-img {
  cursor: pointer;
  animation: bone-img-animation 1s infinite;
  transition: all 1s ease-in-out;
}

.bone-img:hover {
  animation: none;
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bone-img-animation {
  0% {
    transform: translateY(0) rotate(0deg);
    
  }
  50% {
    transform: translateY(0.5rem) rotate(8deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.slang {
  position: absolute;
  top: 45%;
  padding-left: 4.8rem;
  font-size: 5.2rem;
  transform: translateY(-50%);
  color: white;
  letter-spacing: 1.8px;
  font-family: 'Beau Rivage', cursive;
  animation: fadeIn 1.5s ease-in-out;
}

.icons-card{
  display: flex;
  gap: 1rem;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);

  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80.5%;
  }
  .signin-btn{
    margin: auto 32px;
    font-size: 1.2rem;
  }
  .slang {
    font-size: 3.2rem;
  }
}
  
@media screen and (max-width: 768px){
  html {
    font-size: 70.5%;
  }

  .slang {
    font-size: 2.2rem;

  }

  .icons {
    font-size: 1rem;
    padding: 0.4rem 1rem;
  }
}

@media screen and (max-width: 520px){
  html {
    font-size: 60.5%;
  }
  .signin-btn{
    margin: auto 16px;
    font-size: 1rem;
  }

  .icons {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }
}