:root{
  --orange: #FF5423,
  --light-orange: #fb6f59,
  --gray: #766a6a,
}

.header {
  height: 60px;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3.2rem;

}
.logo-img {
  width: 120px;

}

.signin-cart-holder {
  display: flex;

}
.signin-btn{
background-color: #FF5423;
padding: 10px 30px;
border-radius: 25px;
border: none;
color: #fff ;
outline: none;
font-weight: 600;
transition: all 1s ease-in-out;
  margin: auto 64px;

}
 .icons{
         text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    color: #766a6a;

}
.icons .product-num{
    position: absolute;
    top: .5rem;
    left: .8rem;
    background-color: #fb6f59;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
