* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputs-section {
  display: flex;
  justify-content: space-between;
}

.inputs-section input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 14rem;
  font-size: 0.8rem;
  outline: none;
}

.inputs-section select {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 14rem;
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
}

.products-section {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 3.8rem;
  text-align: center;
  padding-bottom: 3.2rem;
}

.card {
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
}

.card .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 4.2rem;
}

.card .description {
  padding: 0 1.2rem;
  font-size: 0.9rem;
}

.card img {
  max-width: 100%;
  margin-top: 1rem;
}

.card .price {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0.3rem;
  padding-bottom: 1.2rem;
}

.cat {
  background-color: purple;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.dog {
  background-color: green;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.fish {
  background-color: blue;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.bird {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.forPet {
  font-size: 0.8rem;
  position: absolute;
  left: 6%;
  top: 4%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  position: absolute;
  right: -4%;
  top: -2%;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: red;
  cursor: pointer;
}

.sub-category {
  position: absolute;
  right: 10%;
  top: 4%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.add-to-cart {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  background-color: #39ca7f;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
}

.edit-btn {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;

  color: white;
  background-color: orange;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.btn-add-product {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  background-color: green;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
