* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inputs-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .inputs-section {
    flex-direction: column;
    gap: 18px;
  }
}
.inputs-section input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 200px;
  font-size: 15px;
  padding: 0;
  height: 2.5rem;
  outline: none;
}

.inputs-section select {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 200px;
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
  border-radius: 25px;
  outline: gray;
  margin: auto 5px;
  transition: all ease-out 2s;
}

.inputs-section select option {
  background-color: #dddddd;
}

.products-section {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 3.8rem;
  text-align: center;
  padding-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .products-section {
    margin-top: 9.2rem;
  }
}
@media (max-width: 576px) {
  .products-section {
    margin-top: 12.2rem;
  }
}
.card {
  height: 100%;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
}

.card .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .description {
  padding: 0 1.2rem;
  font-size: 0.9rem;
}

.card img {
  max-width: 100%;
  margin-top: 4rem;
}

.card .price {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0.3rem;
  padding-bottom: 1.2rem;
}

.cat {
  background-color: purple;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.dog {
  background-color: green;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.fish {
  background-color: blue;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.bird {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
}

.forPet {
  font-size: 0.8rem;
  position: absolute;
  left: 6%;
  top: 4%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-category {
  position: absolute;
  right: 10%;
  top: 4%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.add-to-cart {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  background-color: #39ca7f;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}
.delete-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  background-color: #e42929;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.text-delete-btn {
  margin-right: 0.5rem;
}
.delete-btn:hover {
  background-color: #a52828;
}

.add-to-cart:hover {
  background-color: #2f8a6f;
}
.edit-btn {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: orange;
  cursor: pointer;
  margin-bottom: 1.2rem;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.edit-btn:hover {
  background-color: #c98820;
}

.btn-add-product {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  background-color: green;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 0 4.8rem;
  margin-top: auto;
}
