.product-details {
  width: 80%;
  margin: 40px auto;
  box-shadow: 1px 1px 13px 3px #eed;
  min-height: 500px;
  padding: 10px;
}
.product-details-container {
  display: flex;
  min-height: 500px;
  gap: 10px;
  align-items: center;
  width: 80%;
}
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    width: 100%;
  }
}
.product-img {
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: center;
}
.product-info {
  padding: 20px;
  width: 60%;
}
.product-name {
  color: #ff543d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-description {
  color: #888;
  margin-bottom: 10px;
}
.about {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

sup {
  font-size: 0.9rem;
  color: #444;
}
.product-price {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}
.free {
  font-size: 10px;
  color: #999;
  font-weight: 400;
  margin-left: 1.2rem;
}
.product-pet {
  color: white;
  background-color: #39ca7f;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.back-btn {
  background-color: #ff543d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.product-img img {
  width: 100%;
  height: 100%;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(146, 32, 32, 0.2);
  border-right: 1.1em solid rgba(146, 32, 32, 0.2);
  border-bottom: 1.1em solid rgba(146, 32, 32, 0.2);
  border-left: 1.1em solid #922020;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
