.container__modal__product {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  width: 100%;
}
.title__modal__product {
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #333;
  text-align: center;
}

.form__group__product {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0.5rem auto;
  gap: 0.3rem;
}

.form__input__product {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.form__input__product label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  margin-bottom: 0.2rem;
}
.error {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

.form__input__product input,
.form__input__product select {
  background: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 2.1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #339e65;
}

.form__input__product textarea {
  background: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 100%;
  max-height: 120px;
  min-height: 120px;
  height: 2.1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #34aa6b;
}

.btn__create__product {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: #2f9f63;
  border-radius: 8px;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  transition: all ease-in-out 0.4s;
}

.btn__create__product:hover {
  background: #359662;
}
